.create-beacon-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 5vh;
    bottom: 5vh;
    border-radius: 50%;
    height: 26vh;
    width: 16vh;
    z-index: 2;
    background-image: linear-gradient(
        180deg,
        hsl(307deg 71% 19%) 0%,
        hsl(337deg 100% 27%) 33%,
        hsl(10deg 71% 40%) 67%,
        hsl(30deg 100% 40%) 100%
    );
    cursor: pointer;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .create-beacon-button-container {
        height: 21vh !important;
        width: 13vh !important;
        right: 3vh !important;
        bottom: 3vh !important;
        padding: 3px !important;
    }

    .create-beacon-button-img {
        width: 9vh !important;
        margin-bottom: 5px !important;
    }

    .create-beacon-button-text {
        font-size: 1rem !important;
    }

    .create-beacon-button {
        height: 21vh !important;
        width: 13vh !important;
    }
}

.create-beacon-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: var(--background);
    color: var(--dusk);
    border-radius: 50%;
    height: 25vh;
    width: 15vh;
    position: fixed;
    z-index: 2;
    cursor: pointer;
}

.create-beacon-button-img {
    width: 12vh;
    height: auto;
    margin-bottom: 0;
}

.create-beacon-button-container .create-beacon-button-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.create-beacon-button:hover {
    background-image: linear-gradient(
        180deg,
        hsl(307deg 71% 19%) 0%,
        hsl(337deg 100% 27%) 33%,
        hsl(10deg 71% 40%) 67%,
        hsl(30deg 100% 40%) 100%
    );
    color: #ffffff;
    border: none;
}

.create-beacon-button:active {
    background-color: var(--dusk);
    background-image: none;
    color: #ffffff;
    border: none;
}

