.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    padding: 0 20px;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.left-side-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right-side-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 2.2rem;
    color: var(--sunset);
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: 'Catamaran', sans-serif !important;
}

.header-subtitle {
    font-size: 1.1rem;
    color: var(--dusk);
    margin-top: 0;
}

.header-title-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.beacon-image {
    width: auto;
    height: 18vh;
    align-self: center;
    margin-top: 2px;
}

.header-popup-button-container {
    display: flex;
    align-items: center; 
    background-image: linear-gradient(
        180deg,
        hsl(307deg 71% 19%) 0%,
        hsl(337deg 100% 27%) 33%,
        hsl(10deg 71% 40%) 67%,
        hsl(30deg 100% 40%) 100%
    );
    border-radius: 50%;
    height: 8vh;
    width: 20vh;
    cursor: pointer;
}

.header-popup-button,
.header-popup-button:hover,
.header-popup-button:active {
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.header-popup-button {
    background-color: var(--background);
    color: var(--dusk);
    height: 7vh;
    width: 19vh;
    border-radius: 50%;
    font-size: 1.1rem;
    margin: 2%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.header-popup-button:hover {
    background-image: linear-gradient(
        180deg,
        hsl(307deg 71% 19%) 0%,
        hsl(337deg 100% 27%) 33%,
        hsl(10deg 71% 40%) 67%,
        hsl(30deg 100% 40%) 100%
    );
    color: #ffffff;
    border: none;
}

.header-popup-button:active {
    background-color: var(--dusk);
    background-image: none;
    color: #ffffff;
    border: none;
}

#about-button {
    margin-right: 20px;
}

#guidance-button {
    margin-right: 40px;
}

.burger-menu {
    display: none;
    cursor: pointer;
    transition: background-color 0.4s;
    align-self: center;
    margin: 0 20px auto auto;
}

.bar {
    width: 50px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

#bar1 {
    background-color: var(--dusk);
}

#bar2 {
    background-color: hsl(337deg 100% 27%);
}

#bar3 {
    background-color: var(--sunset);
}

.burger-menu.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.burger-menu.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.burger-menu-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12vh;
    left: auto;
    right: 40px;
    background-color: var(--background);
    z-index: 10;
    width: 40%;
    height: 150px !important;
    justify-content: start;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.burger-menu-link {
    font-size: 1.2rem;
    color: var(--dusk);
    text-decoration: none;
    transition: background-color 0.3s;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.burger-menu-link:hover {
    color: var(--sunset);
}

.burger-menu-link:active {
    color: var(--sunset);
    text-decoration: underline;
}

@media only screen and (min-width: 869px) {
    .burger-menu-content-border {
        display: none;
    }

    .burger-menu-content {
        display: none;
    }
}

@media only screen and (max-width: 868px) {
    .burger-menu {
        display: block;
        margin-right: 40px;
        align-self: center;
    }

    .header-popup-button-container {
        display: none;
    }

    .header-title {
        display: none;
    }

    .header-subtitle {
        display: none;
    }

    .header-popup-button {
        font-size: 1rem;
    }

    .beacon-image {
        width: auto;
        height: 15vh !important;
        align-self: center;
    }

    .burger-menu-content {
        height: 20vh;
    }
}
