.customOverlay {
  background: var(--sea);
  }

.customModal {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background: var(--land);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .text-popup-header {
    font-size: 1.5em;
    color: var(--sunset);
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
  }

  .text-popup-title {
    font-size: 1.3em;
    color: var(--dusk);
    font-family: 'Monserrat', sans-serif;
    margin-top: 40px;
  }

  .text-popup-paragraph {
    font-size: 1em;
    color: var(--text);
    font-family: 'Kumbh Sans', sans-serif;
  }

  .text-popup {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .text-popup-hr {
    width: 80%;
  }

  .guidance-popup-paragraph {
    font-size: 1em;
    color: var(--text);
    font-family: 'Kumbh Sans', sans-serif;
    margin-bottom: 40px;
  }