.form-page {
  width: 90%;
  height: 100%;
  margin: 60px auto 80px auto;
  padding: 2rem;
  background: var(--land);
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto 80px auto;
  padding: 10px;
}

.form-content {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 0 auto 0 auto;
}

.form-label {
  font-size: 1.1em;
  font-weight: bold;
  margin: 20px auto 10px auto;
  font-family: 'Monsterrat', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  margin: 10px 0;
  box-sizing: border-box;
  font-size: 0.9em;
  font-family: 'Kumbh Sans', sans-serif;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 5px auto;
}

.submit-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      180deg,
      hsl(307deg 71% 19%) 0%,
      hsl(337deg 100% 27%) 33%,
      hsl(10deg 71% 40%) 67%,
      hsl(30deg 100% 40%) 100%
  );
  border-radius: 50%;
  height: 10vh;
  width: 22vh;
  cursor: pointer;
  margin: 30px auto 0 auto;
}

.submit-button {
  background-color: var(--background);
  color: var(--dusk);
  height: 9vh;
  width: 21vh;
  border-radius: 50%;
  font-size: 1.1rem;
  margin: 2%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.submit-button:hover {
  background-image: linear-gradient(
      180deg,
      hsl(307deg 71% 19%) 0%,
      hsl(337deg 100% 27%) 33%,
      hsl(10deg 71% 40%) 67%,
      hsl(30deg 100% 40%) 100%
  );
  color: #ffffff;
  border: none;
}

.submit-button:active {
  background-color: var(--dusk);
  background-image: none;
  color: #ffffff;
  border: none;
}

.error-message {
  color: red;
  font-size: 0.8em;
  font-family: 'Kumbh Sans', sans-serif;
  margin: 5px 0;
  width: 90%;
  text-align: left;
}

.tooltip {
  width: 300px !important;
  cursor: pointer !important;
  border-radius: 5px !important;
}

.tooltip-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 50%; */
  width: 25px;
  height: 25px;
  /* background-color: var(--land);
  border: 2px solid var(--dusk); */
}

.tooltip-icon {
  width: 15px;
  height: 15px;
}

.title-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.page-title {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Monsterrat', sans-serif;
  margin-right: -1rem;
}

.instructions-expand {
  font-size: 1em;
  font-family: 'Kumbh Sans', sans-serif;
  margin: 10px auto 0 1rem;
}

.instructions-text {
  margin: 0 auto 0 1rem;
}

#beaconDescription {
  height: 300px;
}

.thankyou-modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.modal-separator {
  color: var(--text);
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0.5rem;
}

@media (max-width: 768px) {
  .tooltip {
    width: 200px !important;
  }
    .form-page {
      padding: 10px;
      margin-right: 1rem;
    }
  
    .form-content {
      width: 80%  !important;
      margin: 0 auto 0 1.5rem;
    }
  }
