#root {
  margin: 0;
  padding: 2rem;
  text-align: center;
}

:root {
  --text: #000000; 
  --dusk: #660066;
  --sunset: #993300;
  --sea: rgba(170, 211, 223, 0.8);
  --land: #f2efe9;
  --background: #bec3c6;
}

/* Extra Small devices (phones, 350px and down) */
@media only screen and (max-width: 350px) {
}

/* Small devices (phones, 540px and down) */
@media only screen and (max-width: 540px) {
}

/* Medium devices (tablets, 768px and down) */
@media only screen and (max-width: 768px) {
}

/* Large devices (desktops, 1024px and down) */
@media only screen and (max-width: 1024px) {
}

/* Extra Large devices (large desktops, 1280px and down) */
@media only screen and (max-width: 1280px) {
}

