#root {
  margin: 0;
  padding: 2rem;
  text-align: center;
  width: 100%;
  background-color: var(--land);
}

:root {
  --text: #000000; 
  --dusk: #660066;
  --sunset: #993300;
  --sea: rgba(170, 211, 223, 0.8);
  --land: #f2efe9;
  --background: #bec3c6;
  --speed: 500ms;
  --dropdown-width: 200px;
}

/* Extra Small devices (phones, 350px and down) */
@media only screen and (max-width: 350px) {
  #root {
    padding: 1rem;
  }
}

/* Medium devices (tablets, 768px and down) */
@media only screen and (max-width: 768px) {
}

.text-link {
  color: var(--dusk);
  border: none;
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}

.text-link:hover {
  color: var(--sunset);
}

.text-link:active {
  color: var(--sunset);
}